DEBUG=True
SECRET_KEY=change-me
ALLOWED_HOSTS=127.0.0.1,localhost
USE_SQLITE=True
USE_WHITENOISE=False

# Production database example:
# USE_SQLITE=False
# USE_WHITENOISE=True
# DATABASE_URL=postgres://USER:PASSWORD@HOST:5432/DB_NAME
